<% if @tweets.blank? %>
  <div class="no-result">
    <p><%= @area %>に関する投稿がありません。</p>
  </div>
<% else %>
  <% @tweets.each do |tweet| %>
    <div class="one-tweet">
      <div clas="one-tweet-left">
        <% if tweet.user.image.blank? %>
          <%= image_tag "logo.png" %>
        <% else %>
          <%= image_tag "#{tweet.user.image}" %>
        <% end %>
        <% if user_signed_in? && tweet.user.id != current_user.id %>
          <div class="trust-btn trust-link-<%= tweet.user.id %>">
            <%= render partial: 'trusts/trust', locals: { user: tweet.user } %>
          </div>
        <% end %>
      </div>
      <div class="tweet-info">
        <p class="tweet-name"><%= tweet.user.name %></p>
        <p class="tweet-text"><%= tweet.text %></p>
        <p class="tweet-time"><%= tweet.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
        <div class="tweet-image-box">
          <% if tweet.images %>
            <% tweet.images.each do |image| %>
              <div class="tweet-image">
                <%= link_to "#{image.image.url}", class: "expansion-image" do %>
                  <%= image_tag "#{image.image.url}" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if tweet.user_id == current_user.id %>
          <div class="tweet-edit">
            <%= link_to "削除", tweet_path(tweet.id), method: :delete %>
            <%= link_to "編集", edit_tweet_path(tweet.id), method: :get %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

