<div class="main">
  <div class="right-content">
    <div class="user-info">
      <% if current_user.image.blank? %>
        <%= image_tag "logo.png" %>
      <% else %>
        <%= image_tag "#{current_user.image}" %>
      <% end %>
      <p><%= current_user.name %></p>
    </div>
    <%= form_with model: @tweet, url: tweets_path, local: true do |f| %>
      <%= f.text_area :text, class: "tweet-form", placeholder: "地域名と一緒に今の天気を共有しよう！" %>
      <div class="image-form">
        <%= f.fields_for :images do |i| %>
          <div class="image-prev-all">
          </div>
          <div class="image-form-box">
            <div class="image-upload" data-num="0">
              <%= i.file_field "images[]", multiple: true, name: "images[:image][]", class: "upload_tweet_image", id: 'upload_img_last' %>
              <%= i.hidden_field :id %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tweet-btn">
        <%= f.submit "投稿" %>
      </div>
    <% end %>
  </div>

  <div class="tweet-area">
    <% if @tweets %>
      <% @tweets.each do |tweet| %>
        <div class="one-tweet">
          <% if tweet.user.image.blank? %>
            <%= image_tag "logo.png" %>
          <% else %>
            <%= image_tag "#{current_user.image}" %>
          <% end %>
          <div class="tweet-info">
            <p class="tweet-name"><%= tweet.user.name %></p>
            <p class="tweet-text"><%= tweet.text %></p>
            <p class="tweet-time"><%= tweet.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
            <div class="tweet-image-box">
              <% if tweet.images %>
                <% tweet.images.each do |image| %>
                  <div class="tweet-image">
                    <%= link_to "#{image.image.url}", class: "expansion-image" do %>
                      <%= image_tag "#{image.image.url}" %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div id="popup-background">
    </div>
    <img id="popup-item" src="" >
  </div>
</div>