<% @result.each do |result| %>
  <% if Time.parse(result["dt_txt"]) + 9.hours == day_time %>
    <div class="weather-box__time-box">
      <p class="text-center"><%= day %></p>
      <p class="text-center"><%= time %></p>
      <div class="information">
        <%= image_tag "http://openweathermap.org/img/w/#{result["weather"][0]['icon']}.png ", class: "text-center" %>
        <p>天気：<%= result['weather'][0]['description'] %></p>
        <p>最高気温：<%= result['main']['temp_max'] %>℃</p>
        <p>最低気温：<%= result['main']['temp_min'] %>℃</p>
        <p>湿度：<%= result['main']['humidity'] %>％</p>
        <p>風速：<%= result['wind']['speed'] %>m</p>
      </div>
    </div>
  <% end %>
<% end %>