<p><%= @today %></p>
<%= @now %>

<p><%= @today %> 0:00:00</p>
<p><%= @today %> 3:00:00</p>
<p><%= @today %> 6:00:00</p>
<p><%= @today %> 9:00:00</p>
<p><%= @today %> 12:00:00</p>
<p><%= @today %> 15:00:00</p>
<p><%= @today %> 18:00:00</p>
<p><%= @today %> 21:00:00</p>

<%= @result %>