<!DOCTYPE html>
<html>
  <head>
    <title>LinkWeather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://platform.twitter.com/widgets.js', charset: 'utf-8', async: 'async' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
  </head>

  <body>
    <header>
      <div class="logo-box">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "logo-img" %>
        <% end %>
      </div>
      <div class="header-right">
        <div class="search-box">
          <%= form_with url: weathers_path, method: :post, local: true do |f| %>
            <%= f.text_field :city, class: "area-search", placeholder: "天気を確認したい地域を入力" %>
            <div class="search-btn">
              <%= button_tag type: "submit" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <label for="mobile-user-menu" class="mobile-menu-label">Menu</label>
          <input type="checkbox" id="mobile-user-menu"/>
        <ul class="header-right-under">
          <div class="header-right-under-tweet">
            <div class="tweet-box">
              <li><%= link_to "Let's sharing wether!", tweets_path %></li>
            </div>
          </div>
          <div class="header-right-under-user">
            <% if user_signed_in? %>
              <div class="mypage-box">
                <li><%= link_to "my page", mypage_path(current_user) %></li>
              </div>
              <div class="logout-box">
                <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
              </div>
              <div class="setting-box">
                <div class="setting-btn">
                  <li>
                    <%= link_to profile_edit_path do %>
                      <i class="fa fa-cog"></i>
                      <p>設定</p>
                    <% end %>
                  </li>
                </div>
              </div>
            <% else%>
              <div class="session-box">
                <div class="login-box">
                  <li><%= link_to "login", new_user_session_path %></li>
                </div>
                <div class="signup-box">
                  <li><%= link_to "signup", new_user_registration_path %></li>
                </div>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </header>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <footer>
      <%= image_tag "cityblack.png" %>
    </footer>
  </body>
</html>
