<!DOCTYPE html>
<html>
  <head>
    <title>LinkWeather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo-box">
        <%= link_to "#" do %>
          <%= image_tag 'logo.png', class: "logo-img" %>
        <% end %>
      </div>
      <div class="header-right">
        <div class="search-box">
          <%= form_with url: weathers_path, method: :post, local: true do |f| %>
            <%= f.text_field :city, class: "area-search", placeholder: "天気を確認したい地域を入力" %>
            <div class="search-btn">
              <%= button_tag type: "submit" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="header-right-under">
          <div class="tweet-box">
            <%= link_to "Let's sharing wether!", "#" %>
          </div>
          <% if user_signed_in? %>
            <div class="mypage-box">
              <%= link_to "my page", mypage_path(current_user) %>
            </div>
            <div class="logout-box">
              <%= link_to "logout", destroy_user_session_path, method: :delete %>
            </div>
            <div class="setting-box">
              <div class="setting-btn">
                <%= link_to profile_edit_path do %>
                  <i class="fa fa-cog"></i>
                  <p>設定</p>
                <% end %>
              </div>
            </div>
          <% else%>
            <div class="session-box">
              <div class="login-box">
                <%= link_to "login", new_user_session_path %>
              </div>
              <div class="signup-box">
                <%= link_to "signup", new_user_registration_path %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <%= image_tag "cityblack.png" %>
    </footer>
  </body>
</html>
